body {
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: rgb(9, 9, 121);
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(253, 29, 29, 1) 100%);
    position: relative;


}

.app {
    height: inherit;

    &.playing {

        & .settingBox,
        & form {
            transform: scale(0);
            opacity: 0;

        }

        & .header,
        & .play-box {
            opacity: 1;
        }
    }

}

.dodge {
    height: 0.4rem;
    width: 4rem;
    background-color: #000;
}

.header {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    background-color: #fff;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 0.1rem solid #000;


    & .player-info {
        height: 100%;
        overflow: hidden;

        & .spacegoalset {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & .round {
                position: absolute;
                bottom: 0.8rem;
                font-size: 1.6rem;
                font-weight: 500;
            }

            & .btn-setting {
                border: 0;
                position: absolute;
                top: 0.8rem;
                transform: rotate(0);
                transition: 0.3s linear;
                background-color: transparent;

                &:hover {
                    transform: rotate(360deg);
                    color: green;
                }

                &:active {
                    opacity: 0.3;
                }

                & i {
                    font-size: 2rem;
                }

            }

            &-item {
                font-size: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;


            }

        }

        & .row {
            height: 100%;
        }

        & i {
            font-size: 6rem;

        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-around;

            &.X-player {
                position: relative;

                &::after,
                &::before {
                    content: '';
                    width: 0.4rem;
                    height: 100%;
                    background-color: rgba(9, 9, 121, 1);
                    position: absolute;
                    transform: skewX(30deg);
                }

                &::after {
                    right: 0;

                }

                &::before {
                    right: -0.8rem;
                }
            }

            &.O-player {
                position: relative;

                &::after,
                &::before {
                    content: '';
                    width: 0.4rem;
                    height: 100%;
                    background-color: rgba(253, 29, 29, 1);
                    position: absolute;
                    transform: skewX(-30deg);
                }

                &::after {
                    left: 0;

                }

                &::before {
                    left: -0.8rem;
                }
            }
        }

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            height: 100%;
        }

        &-name {
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            width: 40%;

            font-size: 2rem;
            font-weight: 600;
        }

    }


    & .O-player {
        & i {
            color: rgba(253, 29, 29, 1);
        }


    }

    & .X-player {
        & i {
            color: rgba(9, 9, 121, 1);
        }
    }
}

.play-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    opacity: 0;


    & .box {
        &.done {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 3;
                background-color: rgba(0, 0, 0, 0.2);
            }

        }

        display: grid;

        &.playing-X {
            & .box-item:not(.tick):hover {
                & .icon-player-X {
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
        }

        &.playing-O {
            & .box-item:not(.tick):hover {
                & .icon-player-O {
                    opacity: 0.5;
                    cursor: pointer;

                }
            }
        }


        &-item {
            background-color: #fff;
            height: 100%;
            border: 0.1rem solid #000;
            position: relative;

            &.tick:hover {
                cursor: no-drop;
            }

            &.tick.tickplaying-X {
                & .icon-player-X {
                    opacity: 1;
                }
            }

            &.tick.tickplaying-O {
                & .icon-player-O {
                    opacity: 1;
                }
            }

            & .icon {
                position: absolute;
                font-size: 2rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                color: #000;
                transition: 0.2s linear;

                &.icon-player-O {
                    color: #fd1d1d;
                }

                &.icon-player-X {
                    color: #090979;
                }

            }

        }
    }


}

.settingBox {
    transform: scale(1);
    opacity: 1;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);

    & form {
        transform: scale(1);
        opacity: 1;
        transform-origin: center center;
        transition: 0.2s linear;
        width: 300px;
        height: 300px;
        background-color: #fff;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>h2 {
            text-align: center;
            font-size: 3rem;
            background: rgb(9, 9, 121);
            background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(253, 29, 29, 1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        .btn {
            border: 0;
            padding: 0.3rem;
            font-size: 1.6rem;
            color: #fff;
            background: rgb(9, 9, 121);
            background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(253, 29, 29, 1) 100%);
            border-radius: 0.5rem;

            &:hover {
                opacity: 0.6;
            }

            &.complete-setting {
                font-size: 2rem;
                padding: 0.6rem 0;
                border-radius: inherit;
            }


        }

        & article {
            height: 5rem;

            &:nth-child(2),
            &:nth-child(3) {
                & input {
                    flex: 1;
                }
            }

            &:nth-child(4) {
                justify-content: space-between;
            }



            & label:first-child {
                width: 45%;
            }
        }

        & label {
            font-size: 1.8rem;
            font-weight: 500;
        }



        & input {}





        & .form-item {
            display: flex;
            align-items: center;
        }
    }
}